@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    user-select: none;
  }

  body {
    @apply text-white-ink-1;
    background: linear-gradient(rgba(10, 11, 11, 0.9), rgba(10, 11, 11, 0.9)),
      url(@/assets/images/common/background.png) fixed top left/cover no-repeat;
    min-height: 100vh;
  }

  a {
    @apply hover:text-gold-brand-1;
    transition: all 0.25s ease-in-out;
  }

  p + p {
    margin-top: 0.5rem;
  }

  button {
    @apply text-white-ink-1 hover:text-gold-brand-1;
    transition: all 0.25s ease-in-out;
  }

  input[type=text] {
    @apply border border-white-ink-1 bg-gray-bg-2 px-4 py-1.5 text-white-ink-1 focus:border-gold-brand-1 focus:outline-0
  }
}

@layer components {
  .custom-scrollbar {
    scrollbar-gutter: stable;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-track-piece {
    background-image: url("@/assets/images/scrollbar/scrollbar-track.png");
    background-repeat: repeat-y;
    background-size: contain;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 3px;
    border: 1px solid theme("colors[white-ink-1]");
    background-color: black;
  }

  .text-btn {
    @apply border border-2 border-white-ink-1 hover:border-gold-brand-1 py-2 title-text;
  }
}

@layer utilities {
  .section-header {
    font-weight: bold;
    font-size: 2rem;
    line-height: calc(1.5rem * 1.3);
  }

  .section-text {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: calc(1.5rem * 1.3);
  }

  .title-text {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: calc(1.3rem * 1.3);
  }

  .subtitle-text {
    font-weight: 300;
    font-size: 0.8rem;
    line-height: calc(0.8rem * 1.3);
  }

  .ratings {
    @apply text-gold-brand-1;
  }
}
